.App {
  text-align: center;
}

.SignupBox {
  padding: 0.5em;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 70px 5px 0px 5px;
  height: 365px;
}

.LoginBox {
  padding: 0.5em;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 70px 5px 0px 5px;
  height: 365px;
}

.LogoutBox {
  background: red;
  padding: 0.5em;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.progress {
    margin: 0px;
}

.form {
    border-radius: 5px;
    padding: 20px;
}

.WelcomeMessage {
  font-weight: normal;
}

.UserName {
  flex: 3;
  float: left;
  width: auto;
}

.MenuTitle {
  flex: 10;
}

.LogoutButton {
  flex: 1;
  float: right;
}

.BarChartCompContainer {
  text-align: center;
  align-items: center;
  align-content: center;
}

@media screen and (min-width: 574px) {
  .ChartContainer {
    width: auto;
  }
  .DataListCard {
    width: auto;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  .datecontainer {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%
  }
}

@media screen and (min-width: 863px) {
  .ChartContainer {
    width: auto;
  }
  .DataListCard {
    width: auto;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  .datecontainer {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%
  }
}

.ChartContainer {
  width: auto;
}

.DateButtons {
  display: inline-block;
  margin: 5px 20px;
  height: auto;
}

.datecontainer {
  margin-left: 10px;
  width: auto;
  min-width: 139px;
}

.datepicker {
  text-align: center;
  padding-top: 15px;
}

.datepicker:hover {
  text-align: center;
  padding-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.DataListCard {
  width: 90%;
  display: inline-block;
  margin: 5px 20px;
}

.bold {
  font-weight: bold;
}
.IndividDateButton {
  font-size: 25px;
  color: rgb(153, 162, 162);
  display: inline-block;
  border: 2px solid rgb(153, 162, 162);
  border-radius: 5px;
  margin: 5px 8px 5px 8px;
  padding: 4px 8px;
}
.IndividDateButtonAction {
  font-size: 25px;
  color: rgb(45, 127, 83);
  display: inline-block;
  background-color: rgba(45, 127, 83, .3);
  border: 2px solid rgb(45, 127, 83);
  border-radius: 5px;
  margin: 5px 8px 5px 8px;
  padding: 4px 8px;
}

.smallCharts {
  display: inline-block;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

.row-dataList {
  margin: 5px 10px;
  margin-left: 20px;
  text-align: center;
}

.row-mainrow {
  margin: 5px 20px;
  width: 100%;
}

.row-subrow {
  margin-left: 0px;
  margin-right: 50px;
  float: left;
  display: inline-block;
}

.small-bar {
  margin-top: 10px;
}
